* {
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: #0c134f;
  width: 100vw;
  height: 100vh;
}

.custom-navbar {
  background-color: #1d267d;
}

.card-text {
  color: #1d267d;
  font-weight: bold;
}

.card-id {
  font-size: 24px;
}
